

openapi: 3.1.0
info:
  title: ECHOHUb API
  description: >-
    API Endpoints for the PPM clients.

        SandBox url: https://sandbox.echohealthincapi.com/
        Production Url : https://api.echohealthincapi.com/

    # Authentication

    Authentication is a process by which a system verifies the identity of a
    user accessing this API.       

    <!-- ReDoc-Inject: <security-definitions> -->

  version: v1

  contact:
    name: ECHO Health Inc.
    email: Echo.Hub@echohealthinc.com

servers:
  - url: https://sandbox.echohealthincapi.com
  - url: https://api.echohealthincapi.com

security: 
  -  {}


paths:
  #Authorization
  /api/v1/GetToken:
    $ref: paths/Authentication/api@RequestAuthentication@V1.yaml
  

  
  #PPM - Enrollment
  /api/PPM/v1/Portal [Enrollment]:
    $ref: paths/ICR/api@ICR@v1@Enrollment.yaml
  
     
    
  
  # PPM - PaymentInquiry
  /api/PPM/v1/Portal [Payment Inquiry]:
    $ref: paths/ICR/api@ICR@v1@PaymentInquiry.yaml
    
 
  
components:
  securitySchemes:
    x-ApiKey:
      type: apiKey
      name: x-ApiKey
      description: The API key
      in: header
    x-ClientKey:
      type: apiKey
      description: The Client key
      name: x-ClientKey
      in: header

tags:
  #Authorization
  - name: Authorization
    description: |
      This endpoint helps to generate the Authorization Token for accessing the endpoints.
  
  #PPM
  - name: Premium Payment Management (PPM)
    description: |
     <span style="background-color:lightsteelblue;font-weight:bold;"> Premium Payment Management (PPM) </span> is a web-based application that offers a seamless experience to manage the Individual Coverage Reimbursement plan of the employees, associated with businesses of all sizes.
      The application is accessible on the following supported web browsers:-
    
      * Google Chrome
      * Mozilla Firefox
      * Microsoft Edge
  